site_name: Wulf-Forge Docs
repo_url: https://github.com/baffler/Wulf-Forge
repo_name: Wulf-Forge
copyright: Copyright &copy; Charmware
edit_uri: edit/main/docs/
theme:
  name: material
  palette: 
    scheme: slate
    primary: indigo
    accent: cyan
  features:
    - content.code.copy
    - navigation.tabs

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format